.icon {
    background: url(/img/horses.png) no-repeat;
    width: 24px;
    height: 13px;
    margin: 12px auto 9px auto;
}

.icon.horse {
    background-position: -4px -235px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: auto;
}

.main-content {
    margin-top: 64px;
}